@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

li, a, button, h4 { 
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10%;
    background-color: #585858;
    width: 100%;
}

main {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: edf0f1;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 250px;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}
 /*css Manual*/
 .navigation-manual{
     position: absolute;
     width: 800px;
     margin-top: -40px;
     display: flex;
     justify-content: center;
 }

 .manual-btn{
     border: 3px solid #2E8B57;
     padding: 5px;
     border-radius: 10px;
     cursor: pointer;
     transition: 1s;
 }

 .manual-btn:not(:last-child){
     margin-right: 40px;
 }

 .manual-btn:hover{
     background: #40D3DC;
 }

 #radio1:checked ~ .first{
     margin-left: 0px;
 }

 #radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.erste {
    cursor: pointer;
    background-color: #585858;
}

.nav__links {
    list-style: none;
    background-color:#585858;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    background-color:#585858;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    background-color:#585858;
}

.nav__links li a:hover {
    color: #0088a9
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border:none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 15px;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.5);
}

.img__1{
    border-radius: 16px;
    height:50%;
    width:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:75px;
}

.about{
    text-align:left;
    font-family:"Montserrat", sans-serif;
    margin-left:50px;
    margin-top:85px;
}

.about__a{
    font-family:"Montserrat", sans-serif;
    font-weight: 500;
    text-align:left;
    margin-right: 800px;
    margin-left:50px;
}

