@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

li, a, button, h4 { 
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10%;
    background-color: #585858;
    width: 100%;
}

main {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: edf0f1;
}

/*Heading*/
.heading{
    display:flex;
    padding-bottom: 50px;
    padding-left: 300px;
    margin-top: 15px;
}

.heading h1{
    font-size: 19px;
}

.heading h2{
    font-size: 18px;
}

/*Slider*/

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 250px;
    margin-left:30%;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}
 /*css Manual*/
 .navigation-manual{
     position: absolute;
     width: 800px;
     margin-top: -40px;
     display: flex;
     justify-content: center;
 }

 .manual-btn{
     border: 3px solid #2E8B57;
     padding: 5px;
     border-radius: 10px;
     cursor: pointer;
     transition: 1s;
 }

 .manual-btn:not(:last-child){
     margin-right: 40px;
 }

 .manual-btn:hover{
     background: #40D3DC;
 }

 #radio1:checked ~ .first{
     margin-left: 0px;
 }

 #radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.erste {
    cursor: pointer;
    background-color: #585858;
}

.nav__links {
    list-style: none;
    background-color:#585858;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    background-color:#585858;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    background-color:#585858;
}

.nav__links li a:hover {
    color: #0088a9
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border:none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 15px;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.5);
}

.img__1{
    border-radius: 16px;
    height:50%;
    width:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:75px;
}

.about{
    text-align:left;
    font-family:"Montserrat", sans-serif;
    margin-left:50px;
    margin-top:85px;
}

.about__a{
    font-family:"Montserrat", sans-serif;
    font-weight: 500;
    text-align:left;
    margin-right: 800px;
    margin-left:50px;
}

/*Contact Page CSS*/

.contact{
    position: relative;
    min-height: 100vh;
    padding:50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(/Assets/test1.JPG);
    background-size: cover;
}

.contact .content{
    max-width: 800px;
    text-align: center;
    margin-bottom: 75px;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 1000;
    color: Black;
}

.contact .content p{
    font-weight: 500;
    color: Black;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 30px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    flex-direction: column;
    font-weight: 500;
}

.container .contactInfo .box .text h2{
    font-weight: 1000;
    color: black;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
    border-radius: 15px;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top 10px;
}

.contactForm .inputBox input, 
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events:none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color:#fff;
    border:none;
    cursor:pointer;
    padding: 10px;
    font-size: 18px;
}

/*Team CSS*/
.container{
    margin:20px 40px;
    color: black;
}

.heading_t{
    font-size: 60px;
    color: black;
    margin-left: 750px;
    margin-top: 50px;
}

.profiles{
    display:flex;
    justify-content: space-around;
    margin:20px 80px;
}

.profile{
    flex-basis: 260px;
}

.profile .profile-img{
    filter: grayscale(100%);
    border-radius:50px;
    cursor: pointer;
    transition: 400ms;
}

.profile:hover .profile-img{
    filter:grayscale(0);
}

.user-name{
    margin-top: 30px;
    font-size: 30px;
}

.profile h5{
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    color: red;
}

.profile p {
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}